body {
text-align: center;
margin: 0 auto;
}
	
nav {
	height: 50px;
	width: 100%;
	min-width: 95%;
	text-align: right;
	padding-top: 0.5%;
	}

	
.navmenu {
	position: relative;
	margin-top: 20px;
	padding-right: 50px;
	white-space: nowrap;
}

#date {
    float: left;
	padding: 0px 7px 0px 7px;
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #999;
	display: inline;
	margin-left: 10px;
    margin-right: 40px;
}

li {
	padding: 0px 7px 0px 7px;
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #999;
	display: inline;
	margin-right: 3px;
	}
    
li:hover {
color: #2B90C9;
cursor: pointer;
}
	
.main_wrapper {
	margin: 0 auto;
	width: 100%;
	min-width: 100%;
	}
	
.signalslogo {
	margin: 0 auto;
    width: 100%;
	min-width: 100%;
	display: block;
	padding-top: 30px;
	padding-bottom: 0;
	height: 55px;
	}
	
.main_statement {
	display: block;
	width: 100%;
    min-width: 100%;
	margin: 0 auto;
	}
	
.main_1 {
	margin: 0 auto;
    width: 800px;
    min-width: 800px;
    height: 25%;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 625;
	font-size: 52px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-style: normal;
	letter-spacing: -2px;
	}
	
.main_2 {
	margin: 0 auto;
	width: 800px;
	min-width: 800px;
    padding-top: 15px;
	font-size: 18px;
	font-weight: 400; 
	font-style: normal;
	}

.base_1 {
	margin: 0 auto;
    width: 800px;
    min-width: 800px;
    height: 25%;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 510;
	font-size: 48px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-style: normal;
	letter-spacing: -2px;
	}

.base_2 {
	margin: 0 auto;
	width: 800px;
	min-width: 800px;
    padding-top: 15px;
	font-size: 18px;
	font-weight: 200; 
	font-style: normal;
}	
	
.high_1 {
	margin: 0 auto;
    width: 800px;
    min-width: 800px;
    height: 25%;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 510;
	font-size: 48px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-style: normal;
	letter-spacing: -2px;
	}
	
.high_2 {
	margin: 0 auto;
	width: 800px;
	min-width: 800px;
    padding-top: 15px;
	font-size: 18px;
	font-weight: 200; 
	font-style: normal;
}

.camp_1 {
	margin: 0 auto;
    width: 800px;
    min-width: 800px;
    height: 25%;
	padding-top: 5px;
    padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 510;
	font-size: 48px;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-style: normal;
	letter-spacing: -2px;
}

.camp_2 {
	margin: 0 auto;
	width: 800px;
	min-width: 800px;
    padding-top: 15px;
	font-size: 18px;
	font-weight: 200; 
	font-style: normal;
}
	
.basecamp_statement{
	display: none;
	width: 100%;
	min-width: 100%;
	margin: 0 auto;
}

.highrise_statement {
	display: none;
	width: 100%;
	min-width: 100%;
	margin: 0 auto;
}

.campfire_statement {
	display: none;
	width: 100%;
	min-width: 100%;
	margin: 0 auto;
}

.box_frame {
	margin-top: 35px;
	height: 280px;
	width: 100%;
	min-width: 100%; 
	}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 636px;
	height: 280px;
	}

.box_items {
	margin: 0 auto;
}	
#basecamp {
	position: relative;
	width: 180px;
	height: 235px;
	float: left;
	text-align: center;
	padding-top: 15px;
	margin: 15px;
	border: 1px solid #E8E8E8;
	border-radius:5px;
	background: linear-gradient(#FFF, #E8E8E8);
}

#highrise {
	position: relative;
	width: 180px;
	height: 235px;
	float: left;
	text-align: center;
	padding-top: 15px;
	margin: 15px;
	border: 1px solid #E8E8E8;
	border-radius:5px;
	background: linear-gradient(#FFF, #E8E8E8);
}

.basecamp_arrow {
	display: none;
	position: absolute;
	top: -42px;
	left: 145px;
	z-index: 1;
}

#basecamp:hover  .basecamp_arrow{
	display: block;
	cursor: pointer;
}
#basecamp:hover {
	cursor: pointer;
}

.highrise_arrow {
	display: none;
	position: absolute;
	top: -42px;
	left: 145px;
	z-index: 1;
}

#highrise:hover .highrise_arrow{
	display: block;
	cursor: pointer;
}

#highrise:hover {
	cursor: pointer;
}

#campfire {
	position: relative;
	width: 180px;
	height: 235px;
	float: left;
	text-align: center;
	padding-top: 15px;
	margin: 15px;
	border: 1px solid #E8E8E8;
	border-radius:5px;
	background: linear-gradient(#FFF, #E8E8E8);
}

.campfire_arrow {
	display: none;
	position: absolute;
	top: -42px;
	right: 145px;
	z-index: 1;
}

#campfire:hover .campfire_arrow{
	display: block;
	cursor: pointer;
}

#campfire:hover {
	cursor: pointer;
}
span {
	text-decoration: underline;
	color: blue;
}
			
h3 {
	text-decoration: underline;
	font-size: 21px;
	color: #369;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 0;
	padding-right: 5px;
	padding-left: 5px;
}

h4 {
	display: block;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	color: #C00;
	margin-top: 15px;
	padding-right: 5px;
	padding-left: 5px;
}

p {
	display: block;
	margin: 5px 0px 5px;
	font-size: 14px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	padding-right: 10px;
	padding-left: 10px;
}

.divider {
	position: relative;
	bottom: 0;
	width: 100%;
	min-width: 100%;
	height: 25px;
	text-align: center;
	margin-top: 40px;
	}
